//Color variables
$color-background: #eee;
$color-grey-light: #ddd;
$color-grey-dark: #bbb;

$color-pink-dark: #951c55;
$color-pink-light: #b82266;

$color-blue-light: #005689;
$color-blue-dark: rgb(0, 69, 110);
